.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  z-index: 1;
position: sticky;
top: 0;
  button[aria-label="Toggle mute"] {
    .mat-icon {
      /* font-size: 32px;
      width: 36px;
      height: 36px;
      line-height: 32px; */
       scale:1.5;
    }
  }
}

.mute-button {
  &.muted {
    color: #f44336;
    
     
  }
}

.favorite {
  color: #1976d2;
}

.favorite-button {
  margin-right: 10px;
  
  &.favorite {
    color: #1976d2;
  }
  
  mat-icon {
    transition: color 0.3s ease;
  }
}


 

.close-button {
  margin-left: 8px;
  
  &:hover {
    color: #f44336;
  }
  
  mat-icon {
  scale:1.5;
  }
}