<mat-list>
  <mat-list-item *ngFor="let station of radioStations" lines="4">
    <mat-card class="station-card"   [class.playing]="isPlaying(station.name)" (click)="togglePlay($event, station.name)">
      <mat-card-header class="station-header">
        <img mat-card-avatar [src]="station.image" [alt]="station.name">
        <mat-card-title> <h5>{{station.name}} </h5> </mat-card-title>
        <mat-card-subtitle><h6>{{station.frequency}}</h6> </mat-card-subtitle>
        <span *ngIf="this.currentRadio === station.name && isLoadingRadio === false" class="live-badge">EN VIVO</span>
        
      </mat-card-header>
    
      <mat-card-content class="station-content" >
        <div class="station-controls">
         <!--  <button style="margin-right: 1.5em;" mat-fab class="play-button" (click)="togglePlay($event, station.name)">
            <mat-icon>{{isPlaying(station.name) ? 'pause' : 'play_arrow'}}</mat-icon>
          </button> -->
         
  <!-- 
          <mat-spinner *ngIf="isLoadingRadio && this.currentRadio === station.name"/>  -->
          <mat-progress-bar   [style.visibility]="isLoadingRadio && this.currentRadio === station.name ? 'visible' : 'hidden'" mode="buffer"></mat-progress-bar>
       
       
        </div>
      </mat-card-content>
    </mat-card>
  </mat-list-item>
</mat-list>



<div class="player-footer" *ngIf=" this.audioService.showFooter  | async ">
  <div class="player-info">
    <img [src]="getCurrentStation()?.image" [alt]="currentRadio" class="player-image">
    <div class="player-details">
      <h3>{{currentRadio}}</h3>
      <p>{{getCurrentStation()?.frequency}}</p>
    </div>
  </div>
  <button mat-fab color="primary" (click)="togglePlayFooter($event, currentRadio)">
    <mat-icon>{{isPlaying(currentRadio) ? 'pause' : 'play_arrow'}}</mat-icon>
  </button>
</div>