<mat-list>
  <mat-list-item *ngFor="let station of radioStations" lines="4">
    <mat-card class="station-card" [class.playing]="station.isSelected" (click)="togglePlay(station)">
      <mat-card-header class="station-header">
        <img mat-card-avatar [src]="station.image" [alt]="station.name">
        <mat-card-title style="white-space: break-spaces;">
          <h5>{{station.name}} </h5>
        </mat-card-title>
        <mat-card-subtitle>
          <h6>{{station.frequency}}</h6>
        </mat-card-subtitle>
        <span *ngIf="station.isSelected" class="live-badge">EN VIVO</span>

      </mat-card-header>

      <mat-card-content class="station-content">
        <div class="station-controls">


          <!--
          <mat-spinner *ngIf="isLoadingRadio && this.currentRadio === station.name"/>  -->
          <mat-progress-bar
            [style.visibility]="((audioService.isLoading | async) === station.url ) ? 'visible' : 'hidden'"
            mode="buffer"></mat-progress-bar>


        </div>
      </mat-card-content>
    </mat-card>


    <div class="player-footer" *ngIf="station.isSelected">
      <div class="player-info">
        <img [src]="station.image" [alt]="station.name" class="player-image">
        <div class="player-details">
          <h5>{{station.name}}</h5>
          <h6>{{station.frequency}}</h6>
        </div>
      </div>
      <button mat-fab color="primary" (click)="playRadioFromFooter(station)"
        *ngIf="station.isFooterStopped && ((audioService.isLoading | async) !== station.url )">
        <!-- instead of using isFotterStopped property, prefer using audioService.isPlaying  -->

        <mat-icon>play_arrow</mat-icon>
      </button>

      <button mat-fab color="primary" (click)="stopRadioFooter(station)"
        *ngIf="!station.isFooterStopped && ((audioService.isLoading | async) !== station.url )">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="playRadioFromFooter(station)"
        *ngIf="((audioService.isLoading | async) === station.url )">
        <mat-icon disabled class="rotating-icon">sync</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>